/* FAQSection.css */

.faq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Libre Baskerville", serif;

}

.faq-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #3c4f3d;
}

.faq-item {
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.faq-question {
  width: 100%;
  background-color: #899878;
  color: #fff;
  text-align: left;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.faq-question:hover {
  background-color: #7a8969;
}

.faq-question.active {
  background-color: #6c7b59;
}

.faq-icon {
  font-size: 1.25rem;
}

.faq-answer {
  background-color: #f6f6f6;
  color: #3c4f3d;
  padding: 1rem;
  border-top: 1px solid #dcdcdc;
  font-size: 0.95rem;
}


.faq-answer a {
  color: #5a7d5a;
  text-decoration: underline;
}

.faq-answer ul, .faq-answer ol {
  padding-left: 1.25rem;
  margin-top: 0.5rem;
}

.faq-answer p {
  margin-bottom: 0.75rem;
}

